name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: ^3.12
      id: python

    - name: Install Python packages
      run: |
        pip install toml yapf
        pip install pytest pytest-homeassistant-custom-component uhppoted netifaces

    - name: Check out code
      uses: actions/checkout@v4

    - name: Create (dummy) .venv virtual environment
      run: python -m venv .venv

    - name: Build
      run: make build-all

    - name: Unit tests
      run: python3 -m unittest tests/uhppoted/*.py 
