name: nightly

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: ^3.12
      id: python

    - name: Install Python packages
      run: pip install toml yapf

    - name: Check out code
      uses: actions/checkout@v4

    - name: Create (dummy) .venv virtual environment
      run: python -m venv .venv

    - name: Build
      run: make build-all

    - name: Build archive
      run: make release DIST=uhppoted-app-home-assistant_alpha-nightly

    - name: Upload .tar.gz artifact
      uses: actions/upload-artifact@v4
      with:
        path: dist/*.tar.gz
        name: uhppoted-app-home-assistant_alpha-nightly.tar.gz

    - name: Upload .zip artifact
      uses: actions/upload-artifact@v4
      with:
        path: dist/*.zip
        name: uhppoted-app-home-assistant_alpha-nightly.zip
